@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --left-al: 60px;
    --right-al: 150px;
}

body {
    display: flex;
    padding: 0 300px;
    margin: 0;
    background-color: hwb(0 10% 90% / 0.89);
    font-family: "Exo 2", sans-serif;
}

p {
    color: black;
    font-size: 22px;
    font-weight: 500;
}

form {
    font-size: 13px;
    font-weight: 600;
}

a, a:link, a:visited {
    color: #596D48;
    text-decoration: none;
}

.container-left {
    display: flex;
    flex-direction: column;
    background-image: url("../images/stephen-gong-pE6D5nGPBVw-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 0 0 40%;
    min-height: 100vh;
}

#logo-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    background-color: hwb(0 10% 90% / 0.60);
}

#logo-text {
    color: white;
    font-size: 60px;
    font-weight: 800;
    opacity: 100;
}

#logo-img {
    width: 75px;
    height: auto;
}

#photo-credit {
    margin-top: auto;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
    text-align: center;
}

.container-right {
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    min-height: 100vh;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.container-right-upper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 75px;
    flex: 1;
    background-color: white;
    color: black;
    padding-left: var(--left-al);
    padding-right: var(--right-al);
    background-color: #e8e8e9;
}

.form-signup {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1px;
    padding-left: var(--left-al);
    padding-right: var(--right-al);
    background-color: white;
    flex: 1;
}

.line-divider {
    position: relative;
    z-index: 2;
    box-shadow: 0px 18px 24px -10px rgba(0,0,0,0.20);
}

.flex-sub-form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-column-left {
    display: flex;
    flex-direction: column;
    gap: 13px;
    flex: 1;
}

.form-column-right {
    display: flex;
    flex-direction: column;
    gap: 13px;
    flex: 1;
}

.form-items input {
    display: flex;
    flex-direction: column;
    gap: 6px;   
}

.container-right-lower {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* min-height: 40vh; */
    flex: 1;
    padding-left: var(--left-al);
    padding-right: var(--right-al);
    background-color: #d6d8db;
    color: black;
    padding-top: 30px;
}

.create-account {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    padding: 15px 50px;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    font-weight: 900;
    background-color: #596D48;
    border: none;
}

.container-right-lower p {
    font-size: 16px;
    font-weight: 550;
}

input[type="password"]:user-invalid {
    border: 2px solid red;
    outline: none;
}
